# Easeapp PHP Framework - A Simple MVC based Procedural Framework in PHP 
#
# @package  Easeapp
# @author   Raghu Veer Dendukuri <raghuveer.d@easeapp.org>
# @website  http://www.easeapp.org
# @license  The Easeapp PHP framework is open-sourced software licensed under the [MIT license](http://opensource.org/licenses/MIT).
# @copyright Copyright (c) 2014-2022 Raghu Veer Dendukuri, excluding any third party code / libraries, those that are copyrighted to / owned by it's Authors and / or                
# Contributors and is licensed as per their Open Source License choices.
#
# single rewrite rule
<IfModule mod_rewrite.c>

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php [L,QSA]

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

# Don't allow any pages to be framed - Defends against CSRF
Header set X-Frame-Options DENY


</IfModule>
